<h5><li><%= link_to "Home", root_path %></li></h5>

<h1><%= @wish.title %></h1>

<p><%= @wish.body %></p>

<ul>
  <li><%= link_to "Edit", edit_wish_path(@wish) %></li>
  <li><%= link_to "Delete", wish_path(@wish), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Delete this wish?"
                  } %></li>
</ul>
