<h5><li><%= link_to "Home", root_path %></li></h5>

<h1><%= @wish.title %></h1>

<p><%= @wish.body %></p>

<ul>
  <li><%= link_to "Edit", edit_user_wish_path(@user, @wish) %></li>
  <li><%= link_to "Delete", user_wish_path(@user, @wish), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Delete this wish?"
                  } %></li>
</ul>
